/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

/* FONTS */
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue.woff") format("woff");
}

body,
html {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 50px;
  font-weight: bold;
  background-color: #f1f1f1;
  max-width: 100%;
  overflow-x: hidden;
}

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/

/* -- Mobile Navigation -- */
@media screen and (min-width: 0px) {
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 991px) {
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
  nav {
    width: 99%;
    border-bottom: 2px solid black;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1.5em;
  }

  .navbar-menu {
    width: 96%;
    min-height: 2.5em;
    margin: auto;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10000;
    left: 0;
    background: transparent;
    overflow: visible;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 57.2em;
  }
  #on-top {
    margin-right: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .side-nav {
    padding: 0;
    width: 100%;
    max-width: 72.5em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    right: 0;
    background: transparent;
    border-radius: 5px;
    pointer-events: initial;
  }

  .side-nav ul {
    margin-top: 0;
    transform: translateX(0);
  }
  .side-nav ul li {
    margin: 0 0 0 0.83333333em;
    text-align: right;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
  }
  .side-nav ul li:hover a.link {
    color: #fff;
  }
  .side-nav ul li:hover a.link:before {
    width: 100%;
    opacity: 1;
    transform: translateY(-50%) scaleX(1);
  }
  .side-nav a {
    padding: 0 0.5em;
    color: #000;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    font-size: 1em;
    text-transform: capitalize;
    position: relative;
    font-weight: bold;
    text-decoration: none;
  }
  .side-nav a:before {
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    content: "";
    background: var(--primary);
    height: 2.22222222em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(0);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  .side-nav a#active-menu {
    position: relative;
    border: none;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
  }
  .side-nav a#active-menu:before {
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    content: "";
    background: var(--primary);
    height: 2.22222222em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
  }
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---         FOOTER             -->
<--- -------------------------- -*/

/* -- Mobile Navigation -- */
@media screen and (min-width: 0px) {
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 991px) {
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
