/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

/* FONTS */
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue.woff") format("woff");
}

body,
html {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 100px;
}
