/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

/* FONTS */
@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/HelveticaNeue.woff") format("woff");
}

body,
html {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/

/* -- Mobile Navigation -- */
@media screen and (min-width: 0px) {
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 991px) {
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}

/*-- -------------------------- -->
<---         FOOTER             -->
<--- -------------------------- -*/

/* -- Mobile Navigation -- */
@media screen and (min-width: 0px) {
}

/* -- Ipad Pro -- */
@media screen and (min-width: 450px) and (max-width: 991px) {
}

/* -- Tablets -- */
@media screen and (min-width: 750px) and (max-width: 1023px) {
}

/* -- Small Desktop -- */
@media screen and (min-width: 1024px) {
}

/* -- Regular Desktop -- */
@media screen and (min-width: 1300px) {
}

@media only screen and (min-width: 2000px) {
}
